﻿@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HealthPlan.Data.Models.Religare.PaymentSuccess
@{
}

<html>
<head>
	
	<title>Pement success</title>
	
</head>
<body>
	<h2>policyNumber :  @Model.policyNumber</h2><br>
	<h2>transactionRefNum :  @Model.transactionRefNum</h2><br>
	<h2>uwDecision :  @Model.uwDecision</h2><br>
	<h2>errorFlag :  @Model.errorFlag</h2><br>
	<h2>errorFlag :  @Model.errorFlag</h2>


	@*<form action='/CarePaymentSuccess' name='paymentRedirect' method='post'>
			<input name="csrf" type="hidden" value="null" id="csrf" />
			<input type='hidden' name='policyNumber' value='10453473' />
			<input type='hidden' name='transactionRefNum' value='403993715522733195' />
			<input type='hidden' name='uwDecision' value='INFORCE' />
			<input type='hidden' name='errorFlag' value='' />
			<input type='hidden' name='errorMsg' value='' />
			<button name="submit" type="submit">test Submit</button>
		</form>*@
	
	
</body>

</html>
