﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Care Payment</title>
	<script language="javascript" type="text/javascript">
        function submitHealthForm() {
           document.PAYMENTFORM.submit();
        }

	</script>
</head>
<body>
	<form action='@ViewData["Payment"]' name='PAYMENTFORM' method='post'>
		<div>
			<input type='hidden' name='proposalNum' value='@ViewData["proposalNumber"]' />
			<input type='hidden' name='returnURL' value='@ViewData["CarePaymentSuccess"]' />
		</div>
		<script language='javascript' type="text/javascript">

	submitHealthForm();</script>
	</form>
</body>
</html>
